<!DOCTYPE html>
<html lang="en">
  <head>
    <meta title="New property at 189 Bunker Hill, Stratham aka. Windsong Place" />
    <meta name="description" content="Photographs of the build process of 189 Bunker Hill Ave in Stratham, NH - aka. Windsong Place" />
    <meta name="robots" content="index, follow" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="/assets/images/logo.svg">
    <link rel="mask-icon" href="/assets/images/logo.svg" color="#000000">
    <link rel="manifest" href="manifest.json">

  <!-- analytics -->
{% if eleventy.env.runMode != "serve" %}
    <script src="https://10w.us/api/script.js" data-site-id="5" defer></script>
{% endif %}		

<!-- tailwindcss style sheet -->
    <link rel="stylesheet" href="/assets/css/tailwind.css">

    <style>
    </style>

    <!-- analytics -->


    <!--
    debugging info
    =============================
      site.name:    {{ site.name }}
      site.url:     {{ site.url }}
      title:        {{ title}}
      iHeight:      {{ iHeight }}
      build:        {{ buildInfo.hash }}
    ---
      11ty version: {{ eleventy.version }}
      build mode:   {{ eleventy.env.runMode }}
    ==============================
    -->    
  </head>  

<!-- end head includes -->
