# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: 189 Bunker Hill Avenue, Stratham, NH
email: myemail@189bunker.com
description: >- # this means to ignore newlines until "baseurl:"
  As they build new houses next to us keeping a journal of the build
  so I can keep an eye on our trees.
url: "https://189bunker.com" # the base hostname & protocol for your site, e.g. http://example.com
    
# Build settings
plugins:
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-seo-tag
  - jekyll-datapage-generator

# pagination v2
# https://github.com/sverrirs/jekyll-paginate-v2/
pagination:   
  enabled: true
  per_page: 10
  permalink: "/posts/page:num/"
  title: ':title - page :num of :max'
  limit: 0
  sort_field: 'date'
  sort_reverse: true  

encoding: utf-8

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - package-lock.json
  - package.json
  - README.md
  - tailwind.config.js

keep_files:
  - /assets/css/main.css
  
# dev server
host: 0.0.0.0
port: 4000
