---
layout: base.njk
---
<div>
  <div>
    <h1 class="text-2xl mb-4">{{ title }}</h1>
  </div>
  <div class="text-sm mb-4">
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </div>
  <div>
    <a href="{{ heroimage }}">
      <img src="{{ heroimage }}" alt="{{ heroalt }}" width="1280" eleventy:widths="1280" class="rounded-md w-full" />
    </a>
  </div>

{{ content | safe }}

{% if images %}
  <div class="my-4">
    <h3>Images</h3>
      {% for image in images %}
        <a href="{{ image.src }}">
          <img 
            src="{{ image.src }}"
            alt="{{ image.alt }}"
            class="rounded-sm" 
            eleventy:widths=400
            width=400 />
        </a>
      {% endfor %}
  </div>
{% endif %}

  <div>
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
    {%- endfor %}
  </div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div class="grid grid-cols-2 gap-4">
	{%- if previousPost %}
  <div class="">
    <div class="text-right">← Previous</div> 
    <div class="text-right text-lg">
      <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
    </div>
  </div>
  {% endif %} 
	{%- if nextPost %}
  <div class="">
    <div>Next →</div>
    <div class="text-lg">
      <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>{% endif %}
    </div>
</div>
{%- endif %}
{%- endif %}