---
layout: base.njk
---
<div>
  <div>
    <h1 class="text-2xl mb-4">{{ title }}</h1>
  </div>

  <div>
    <a href="{{ heroimage }}">
      <img src="{{ heroimage }}" alt="{{ heroalt }}" width="1280" eleventy:widths="1280" class="rounded-md w-full" />
    </a>
  </div>

  <div>
    <ul class="">
      <li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
    </ul>
  </div>

{{ content | safe }}

{% if images %}
  <div class="my-4">
    <h3>Images</h3>
      {% for image in images %}
        <a href="{{ image.src }}">
          <img 
            src="{{ image.src }}"
            alt="{{ image.alt }}"
            class="rounded-sm" 
            eleventy:widths=400
            width=400 />
        </a>
      {% endfor %}
  </div>
{% endif %}

  <div>
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
    {%- endfor %}
  </div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}