---js
const eleventyNavigation = {
	key: "Home",
	order: 1,
};

const layout = "base.njk";
const numberOfLatestPostsToShow = 5;
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<div class="my-4">
Documenting the building of new houses at 189 Bunker Hill, Stratham, NH 03885.
</div>

<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% set oddeven = true %}

<div class=" grid grid-cols-1 gap-4"> 
  {%- for post in postslist | reverse %}
      {% include "postTile.njk" %}
  {% endfor %}
</div>

<div class="my-4">
  <h3 class="text-xl">Older Posts</h3>
{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
  <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/archive/">the archive</a>.</p>
{% endif %}
</div>
